form.file-upload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -250px;
  width: 500px;
  height: 230px;
  border: 4px dashed #fff;
  transition: all 1s;
}

form.file-upload p {
  width: 100%;
  height: 100%;
  text-align: center;
  height: 170px;
  position: relative;
  top: -10px;
  vertical-align: middle;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.9em;
}
form.file-upload input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

form.file-upload p a, form.file-upload p a:visited {
  color: #313a3d;
}

form.file-upload p em {
  font-size: 0.7em;
}

form.file-upload.off {
  opacity: 0;
  visibility: hidden;
}


